* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#hero {
  min-height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("img/OIP.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem 1rem;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

.cta-button:hover {
  color: #092746;
}

#propiedades {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#propiedades h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.propiedades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    }
.propiedad-card {
    background: white;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
.propiedad-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
.propiedad-card h3 {
    padding: 1rem;
    color: #333;
    }
.descripcion {
    padding: 5rem 1rem;
    color:#666;

    }
.propiedad-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    }
.propiedad-card button:hover {
    background-color: #000;
    }
#contacto {
    background-color: #f4f4f4;
    padding: 4rem 2rem;
    }
#contacto h2 {
    text-align: center;
    margin-bottom: 2rem;
    }
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }
input, textarea {
    padding: 0.8rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    }
textarea {
    height: 150px;
    resize: vertical;
    }
form button {
    padding: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
form button:hover {
    background-color: #032447;
    }
footer {
    background-color: #333;
    color: white;
    text-align: center; 
    padding: 1rem;
    }
@media screen and (max-width:430px) {
    nav{
        flex-direction: column;
        padding: 1rem;
        }
    .nav-links {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        gap: 1rem;
        }
    
}